/*possible fonts
font-family: 'Alegreya', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Lato', sans-serif;
*/
* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
  
h1, h2,h3{
  font-family: 'Merriweather Sans', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

header, section{
  border: 1px solid grey;
  margin-bottom:20px;
  padding:20px;
}

.question-image{
    max-width:200px;
}

/* Place radios and their labels
on the same line */
.question-form input[type="radio"],
.question-form input[type="radio"]+label {
  display: inline-block;   
  width: auto;
  margin-top: 1rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}



.js-section-toggle__display, .js-button-toggle__display{
    /*display:none;*/  /*commented out to see section in grey wireframe*/
}
